<div class="tab">
    <div class="tab-panels">

        <app-explore-panel></app-explore-panel>


    </div>
    <div class="tab-bar">
        <a href="javascript:;" class="tab-bar-item active">
            <img src="./assets/img/explore_icon.png" class="tab-bar-icon">
            <p class="tab-bar-label">Explore</p>
        </a>
        <a href="javascript:;" class="tab-bar-item">
            <div class="tab-bar-icon-content">

                <img src="./assets/img/message_icon.png" class="tab-bar-icon">
                <span class="badge">2</span>
            </div>
            <p class="tab-bar-label">Message</p>


        </a>
        <a href="javascript:;" class="tab-bar-item">
            <img src="./assets/img/events_icon.png" class="tab-bar-icon">
            <p class="tab-bar-label">Events</p>
        </a>
        <a href="javascript:;" class="tab-bar-item">
            <img src="./assets/img/settings_icon.png" class="tab-bar-icon">
            <p class="tab-bar-label">Settings</p>
        </a>
    </div>
</div>
