<div class="search-bar" [ngClass]="{'active': isActive()}">
    <div class="search-bar-box">
        <input type="text" name="" value="" placeholder="Search" (click)="activateSearch()" [(ngModel)]="searchValue">
        <a href="javascript:;" class="cancel-btn" (click)="deactivateSearch()">Cancel</a>
    </div>
    <div class="search-bar-results-wrap">

        <div class="search-bar-results">

            <div class="suggested-results-wrap" *ngIf="isSeachValueEmpty()">
                <p class="caption">Hot searches</p>

                <ul class="results suggested-results">
                    <li class="result suggested-result"><span class="badge">Math 137</span></li>
                    <li class="result suggested-result"><span class="badge">Werewolf Night!</span></li>
                    <li class="result suggested-result"><span class="badge">HTML Learning</span></li>
                    <li class="result suggested-result"><span class="badge">DC Library & Learn</span></li>
                </ul>
            </div>

            <div class="search-results-wrap" *ngIf="!isSeachValueEmpty()">
                <ul class="results search-results">
                    <li class="result search-result">Search "{{searchValue}}"</li>
                </ul>
            </div>

        </div>
    </div>
</div>
