* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

body, html {
    height: 100%;
}

.ui {
    position: relative;
}

.ui .header {
    background-color: #FFE26A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ui .header .title {
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding: .5em 0;
}

.ui .tab {
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

.ui .tab-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 500;
}

.ui .tab-bar .tab-bar-item {
    flex: 1;
    padding: 8px 0 0 0;
    text-align: center;
    text-decoration: none;
    border-top: 8px solid #fff;
}

.ui .tab-bar .tab-bar-item.active {
    border-top-color: #FFE26A;
}

.ui .tab-bar .tab-bar-item .tab-bar-label {
    line-height: 1.8;
    color: #808080;
    font-size: 15px;
}

.ui .tab-bar .tab-bar-item .tab-bar-icon {
    height: 36px;
    width: 36px;
}

.ui .tab-bar .tab-bar-item .tab-bar-icon-content {
    display: inline-block;
    position: relative;
}

.ui .tab .tab-panels {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 50px;
    overflow: auto;
}

.ui .tab .tab-panels .tab-panel {
    height: 100%;
    display: none;
}

.ui .tab .tab-panels .tab-panel.active {
    display: block;
}

.ui .badge {
    display: inline-block;
    padding: .15em .4em;
    min-width: 8px;
    border-radius: 18px;
    background-color: rgba(0,0,0,.3);
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.ui .search-bar {
    position: relative;
    padding: 8px 10px;
    box-sizing: border-box;
}

.ui .search-bar .search-bar-box {
    position: relative;
    display: none;
}

.ui .search-bar:hover .search-bar-box {
    display: flex;
}

.ui .search-bar .search-bar-box input, .ui .search-bar .search-bar-box .cancel-btn, .ui .search-bar .search-bar-label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    font-size: 14px;
}

.ui .search-bar .search-bar-box input, .ui .search-bar .search-bar-label {
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 18px;
    padding-right: 10px;
}

.ui .search-bar .search-bar-box input {
    flex: 11;
    outline: 0;
    border: 0;
    color: #666;
}

.ui .search-bar .search-bar-box .cancel-btn {
    flex: 1;
    text-decoration: none;
    text-align: right;
    color: #FFE26A;
    padding: 4px 0 4px 10px;
}

.ui .search-bar .search-bar-label {
    display: inline-block;
    text-align: center;
    color: #888;
    width: 100%;
}

.ui .search-bar:hover .search-bar-label {
    display: none;
}
