/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

li {
    list-style: none;
}

body, html {
    height: 100%;
}

app-tab-panel, app-explore-panel {
    height: 100%;
}

.ui {
    position: relative;
}

.ui .caption {
    color: #808080;
}


.ui .badge {
    display: inline-block;
    padding: .15em .4em;
    min-width: 8px;
    border-radius: 18px;
    background-color: rgba(0,0,0,.3);
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
